.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 700px;
}

.calendar-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0.75rem;
    margin: 1rem;

}

.calendar-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 20px;
    padding-left: 10px;
}

.today {
    color: var(--color-accent) !important;
}

.calendar-header h2 {
    color: var(--color-secondary);
    font-size: var(--font-size-subheaders);
}

.calendar-header h1 {
    color: var(--color-primary);
    font-size: var(--font-size-headers);
}

.calendar-todo-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100%; */
}

.add-todo-button {
    background: none;
    border: none;
    border-radius: 5px;
    text-align: left;
    padding-left: 10px;
    color: var(--color-secondary);
    font-size: 1.2rem;
    /* font-size: var(--font-size-text); */
}

.add-todo-button span {
    word-spacing: 10px;
}

.add-todo-button:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--color-secondary), white 85%);
}

.add-todo-button:active {
    background-color: color-mix(in srgb, var(--color-secondary), white 95%);
}

.todo-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--color-background);
    width: 100%;
    height: 50px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: var(--text-font);
    font-size: var(--font-size-text);
    filter: drop-shadow(0 5px 10px color-mix(in srgb, var(--color-secondary), white 85%));
}

.todo-card p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    width: 100%;
    overflow-wrap: anywhere;
    word-break: break-word;
    white-space: normal;
    line-height: 1.3;
    text-overflow: ellipsis;
    overflow: hidden;
}

.todo-card:hover p {
    -webkit-box-orient: unset;
    overflow: visible;
    padding-right: 25px;
}

.todo-buttons {
    display: none;
}

.todo-buttons button {
    background: none;
    border: none;
}

.todo-card:hover {
    cursor: grab;
    height: auto;
    min-height: 50px;
}

.todo-card:hover .todo-buttons.active {
    display: flex;
    justify-content: space-between;
    width: 30px;
}

.todo-buttons button:hover {
    cursor: pointer;
}

.todo-input {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    resize: none;
    text-align: top;
    font-family: var(--text-font);
    font-size: var(--font-size-text);
    overflow-wrap: break-word;
    box-sizing: border-box;
}